*{
    margin: 0;
}

.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
 }
#canvas{
    background:  white;/*rgb(156, 215, 229);*/
    position: relative;
    vertical-align: top;
    
}

.action{
    position: absolute;
    top: 5%; left: 2%;
}
.action  svg{
    padding: 10px;
    height: 2em;width: 2em;
    transition: all 0.3s;
}
.action  svg.active{
    fill: #5317b3;
    transform: scale(1.3);
}