*{
    margin: 0;
}

#canvas{
    background: rgb(156, 215, 229);
    position: relative;
    vertical-align: top;
    
}
#rubber{
    position: absolute;
    top:20px;left:20px;
}
#pencil{
    position: absolute;
    top:50px;left: 20px;
}